name: Go Project CI

concurrency:
  group: ci-workflow-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

env:
  SERVICE: trh-sdk

jobs:
  lint:
    name: Run golangci-lint
    runs-on: [ubuntu-24.04]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.11"
      - name: download go module
        shell: bash
        run: go mod download
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2
          args: --config=.golangci.yml --timeout=10m
          skip-pkg-cache: true
          skip-build-cache: true
          skip-cache: true

  test:
    runs-on: [ubuntu-24.04]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.11"
      - name: Run test
        run: go test -race -v ./...